<!DOCTYPE html>
<head>
	<title>Site Title</title>
	<meta charset="utf-8">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<link rel="manifest" href="/manifest.json">
	<!--<link rel="shortcut icon" href="/compiled/i/icon.ico">-->
	<link rel="stylesheet" href="/compiled/css/build.min.css">
	<!--<script src="/compiled/js/query.js" defer></script>-->
	<script src="/compiled/bundle.js" defer></script>
	<meta name="theme-color" content="#ffffff">
	
	<!--
	<script>require={baseUrl:"/static/js"};templatePath="/static/js"</script>
	<script src="/static/js/query.js" async></script>
	<script src="/static/js/require.js" data-main="app" async></script>
	
	<?php if (isset($this->config['_ga'])) {
	$domain = isset($this->config['domain']) ? $this->config['domain'] : 'auto'; ?>
	<script>requireGA={_ga:'<?=$this->config["_ga"]?>',domain:'<?=$domain?>'};</script>
	<?php } ?>
	-->
	
	<!-- seo tags -->
	<meta property="title" content="Music App">
	<meta property="description" content="Play and share music with others">
	
	<meta property="og:title" content="Music App">
	<meta property="og:description" content="Play and share music with others">
	
	<meta property="twitter:title" content="Music App">
	<meta property="twitter:description" content="Play and share music with others">
	<meta property="twitter:image" content="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg">
	<meta property="twitter:image:alt" content="kitten">
	<meta property="twitter:card" content="summary">
	<meta property="twitter:site" content="@Digitalscape_">
	<meta property="twitter:creator" content="@Digitalscape_">
	<!-- end seo tags -->
</head>
<body>
	<div id="root"><%- markup -%></div>
	<script>
	window.__INITIAL_STATE__ = {
		users: [
			{
				id: 'wpCSzGGjPIKjOXSjvWfIBb55',
				username: 'Digit'
			},
			{
				id: '35CfzG4jP6KercSjvvvIBb16',
				username: 'D1git'
			},
			{
				id: 'wprt3454fgKjOXSjvWfIdfg5',
				username: 'Dig1t'
			}
		]
	}
	</script>
</body>