@import '../config';

.landing {
	color: #fff;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	
	.line {
		background-color: $yellow;
		width: 25px;
		height: 3px;
		margin: 8px 0 14px;
	}
	
	.left {
		h1 {
			font-weight: 800;
		}
		
		p.description {
			margin-bottom: 40px;
			font-size: 1.6em;
			font-weight: 100;
		}
		
		.features {
			margin-top: 10px;
			
			.feature {
				height: 110px;
				margin: 10px 0;
				
				i {
					width: 36px;
					height: 36px;
					margin: 0 auto;
					margin-bottom: 6px;
					border: 1px solid #fff;
					border-radius: 100%;
					text-align: center;
					line-height: 36px;
					font-size: 1.5em;
					display: block;
				}
				
				.description {
					font-size: 1.3em;
					font-weight: 100;
					text-align: center;
				}
			}
		}
	}
	
	.divider {
		margin: 26px 0;
		font-size: 1.5em;
		font-weight: 100;
		text-align: center;
		position: relative;
		
		&:before, &:after {
			content: '';
			background-color: rgba(255, 255, 255, .3);
			width: calc(50% - 30px);
			height: 1px;
			position: absolute;
			top: 50%;
		}
		
		&:before {
			left: 0;
		}
		
		&:after {
			right: 0;
		}
	}
	
	.overlay {
		background-color: rgba(0, 0, 0, 0.4);
		background-image: url(/public/compiled/i/noise.png);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	
	.gradient {
		width: 100%;
		height: 200vh;
		@include gradient(#20395f, #09192d, 200deg);
		position: absolute;
		top: -50%;
		left: -50%;
		z-index: 2;
		transform: rotate(10deg);
	}
	
	> .row {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		z-index: 3;
		
		&.header {
			margin-top: 30px;
			margin-left: -500px;
			position: absolute;
			left: 50%;
			z-index: 4;
			
			.login-btn {
				background-color: transparent;
				border: 2px solid #fff;
				padding: 10px;
			}
		}
	}
	
	> .main {
		height: 100vh;
		display: flex;
		align-items: center;
		
		form {
			input:not([type='hidden']) {
				color: $gray;
				margin-bottom: 14px;
				border: 0;
				border-radius: $border-radius;
				padding: 12px;
				box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
			}
			
			button {
				background-color: $yellow;
			}
		}
	}
}