@import 'config';

// Reset

* {
	background: transparent;
	color: inherit;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: inherit;
	
	&, &:before, &:after {
		box-sizing: border-box;
	}
	
	&:focus {
		outline: none;
	}
}

body {
	zoom: 0;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

section {
	position: relative;
	overflow: hidden;
}

h1 { font-size: type-scale(3); }
h2 { font-size: type-scale(2); }
h3 { font-size: type-scale(1); }
h4 { font-size: type-scale(0); }


a, em, p, strong, u {
	font-size: type-scale(0);
	line-height: type-scale(0);
}

a {
	color: #0062f9;
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
	}
}

img {
	display: block;
}

button {
	cursor: pointer;
}

button > a {
	color: inherit;
}

select, input, textarea {
	color: $black;
	background-color: #fff;
	width: 100%;
	border: 1px solid lighten($black, 50%);
	padding: 6px;
	font-size: type-scale(0);
	display: block;
	
	&:focus {
		border-color: $black;
	}
}

textarea {
	resize: none;
}

input {
	&.ok {
		border-color: #55dc7d;
	}
	
	&.error {
		border-color: #f75252;
	}
	
	&[type="submit"] {
		color: #fff;
		background-color: $blue;
		border: 0;
		border-radius: 0;
		padding: 6px 12px;
		font-size: 18px;
		cursor: pointer;
		
		&:hover {
			background-color: darken($blue, 20%);
		}
	}
	
	&[type="checkbox"], &[type="radio"] {
		width: 18px;
		height: 18px;
		position: relative;
		cursor: pointer;
		
		&:focus {
			box-shadow: none;
		}
		
		&:before {
			content: '';
			background-image: img('spritesheet.svg');
			background-color: inherit;
			width: 18px;
			height: 18px;
			position: absolute;
		}
	}
	
	&[type="checkbox"] {
		&:before {
			background-position: -304px 0;
		}
		
		&:hover:before {
			background-position: -304px -18px;
		}
		
		&:checked:before {
			background-position: -304px -36px;
		}
		
		&[disabled] {
			cursor: auto;
			
			&:before {
				background-position: -304px -54px;
			}
			
			&:checked:before {
				background-position: -304px -72px;
			}
			
			&.dark {
				&:before {
					background-position: -304px -90px;
				}
				
				&:checked:before {
					background-position: -304px -108px;
				}
			}
		}
		
		&.dark:before {
			background-position: -304px -126px;
		}
	}
	
	&[type="radio"] {
		&:before {
			background-position: -322px 0;
		}
		
		&:hover:before {
			background-position: -322px -18px;
		}
		
		&:checked:before {
			background-position: -322px -36px;
		}
		
		&[disabled] {
			cursor: auto;
			
			&:before {
				background-position: -322px -54px;
			}
			
			&:checked:before {
				background-position: -322px -72px;
			}
			
			.dark {
				&:before {
					background-position: -322px -90px;
				}
				
				&:checked:before {
					background-position: -322px -108px;
				}
			}
		}
		
		&.dark:before {
			background-position: -322px -126px;
		}
	}
}

label {
	display: block;
	
	input[type="checkbox"], input[type="radio"] {
		margin-right: 2px;
		display: inline-block;
	}
	
	span {
		display: block;
		vertical-align: middle;
	}
}

li {
	list-style-type: none;
}

table {
	background-color: transparent;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

td, th {
	background: $white;
	margin: 4px;
	border-bottom: 1px solid #d5d5d5;
	padding: 8px 12px;
	font-size: type-scale(0);
	text-align: left;
	
	&:first-child {
		padding-left: 0;
	}
}

@include breakpoint(phone-large) {
	td, th {
		padding: 4px 8px;
	}
}

.align-wrap {
	height: 100%;
	display: flex;
	align-items: center;
}

.scroll {
	$scrollbar-width: 8px;
	$margin: 8px;
	
	$native-scrollbar-width: 12px;
	
	&-container {
		overflow: hidden;
		display: flex;
	}
	
	&__view {
		width: calc(100% + #{$native-scrollbar-width});
		overflow: scroll;
		margin-right: -$native-scrollbar-width;
	}
	
	&__track {
		width: $scrollbar-width + ($margin * 2);
		position: absolute;
		top: $margin;
		bottom: $margin;
		right: 0;
		
		&:hover .scroll__slider {
			opacity: .8;
		}
	}
	
	&__slider {
		background-color: black;
		height: 100%; // 10% + 25px main element padding - half size of scrollbar
		width: $scrollbar-width;
		border-radius: $scrollbar-width / 2;
		position: absolute;
		left: $margin;
		top: 0;
		transition: opacity .2s;
		opacity: .3;
		//opacity: 0;
		// TODO: uncomment opacity
	}
}

// Pseudo Styles

::selection,
::-moz-selection,
::-webkit-selection {
	background-color: #d4e2f7;
	color: #2f2f2f;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #3f3f3f;
}

::-webkit-scrollbar-thumb:window-inactive {
	background-color: #4f4f4f;
}

/* Grid
** Only divs allowed
** Reference: https://medium.com/p/e5c7cc9d28e */

$grid-gutter: 15px; // test 15px, move back to 30px if test not working
$grid-columns: 12;

// Gutter has -g suffix
div.grid {
	&, &-g {
		display: flex;
		flex-flow: row wrap;
		
		&.align-center {
			align-items: center;
		}
		
		&.align-bottom {
			align-items: flex-end;
		}
	}
	
	&-g {
		margin-left: ($grid-gutter / -2);
		margin-right: ($grid-gutter / -2);
	}
}

@for $i from $grid-columns through 1 {
	$property: unquote("#{unquote(".gi-")}#{$i}");
	$property-push: unquote("#{unquote(".grid-push-")}#{$i}");
	$property-push-r: unquote("#{unquote(".grid-push-r-")}#{$i}");
	$property-push-lr: unquote("#{unquote(".grid-push-lr-")}#{$i}");
	$width: percentage($i / $grid-columns);
	
	div#{$property} {
		// grow | shrink | basis
		//flex: 0 0 $width;
		flex-basis: $width;
	}
	
	// automatically add gutters
	div.grid-g > div#{$property} {
		padding-left: ($grid-gutter / 2);
		padding-right: ($grid-gutter / 2);
	}
	
	// Push Feature
	@include breakpoint(tablet-large, 'min-width') {
		/* Add padding for grid items instead of margin to
		** since they have already padding */
		div[class^="gi-"], div[class~="grid"] {
			&#{$property-push} {
				margin-left: $width;
			}
			
			&#{$property-push-r} {
				margin-right: $width;
			}
			
			&#{$property-push-lr} {
				margin-left: $width;
				margin-right: $width;
			}
		}
		
		/* Use padding rather than margin to avoid
		** sizing problems with gutter grids */
		div[class~="grid-g"] {
			&#{$property-push} {
				padding-left: $width;
			}
			
			&#{$property-push-r} {
				padding-right: $width;
			}
			
			&#{$property-push-lr} {
				padding-left: $width;
				padding-right: $width;
			}
		}
	}
}